VITE_APP_BASE_URL=http://localhost:3100
VITE_APP_API_TIMEOUT=10000
VITE_APP_CHAT_API=http://localhost:3100/api/chat
VITE_APP_COPILOT_KIT_API=http://localhost:3100/api/copilot-kit

# 静态资源站点URL
VITE_APP_OSS_URL=http://localhost:3150

